<!-- src/app/contact-list/contact-list.component.html -->
<body>
<app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="row mb-3 align-items-center">
      <div class="col d-flex align-items-center">
        <h3 class="me-3 mb-0">Contacts</h3>
        <button class="btn btn-primary icon" (click)="OnCreateButtonClick()">Add</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-success icon" (click)="OnGetContactGroup()">Group</button>
      </div>
    </div>

    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>

        <td>
          <button class="btn btn-warning me-2 icon" (click)="OnModifyButtonClick(contact.id)">edit</button>
          <button class="btn btn-danger me-2 icon" (click)="OnDeleteButtonClick(contact.id)">delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
