<body>
<app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="col d-flex align-items-center mb-3">
      <h3 class="me-3">Contact Groups</h3>
      <button class="btn btn-primary icon" [disabled]="!newGroup.groupName" (click)="OnCreateButtonClick()">GroupAdd</button>
    </div>

    <div class="mb-3">
      <label for="groupName" class="form-label">Group Name:</label>
      <input type="text" class="form-control" id="groupName" [(ngModel)]="newGroup.groupName" required>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Group Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contactGroup of contactGroups">
        <td>{{ contactGroup.groupId }}</td>
        <td>{{ contactGroup.groupName }}</td>
        <td>
          <button class="btn btn-primary me-2 icon" (click)="OnAddContactButtonClick(contactGroup.groupId)">ContactsAdd</button>
          <button class="btn btn-warning me-2 icon" (click)="OnDeleteContactButtonClick(contactGroup.groupId)">ContactsDelete</button>
          <button class="btn btn-danger icon" (click)="OnDeleteButtonClick(contactGroup.groupId)">GroupDelete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
