.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: white; /* Fond blanc pour la navbar en mode collapsed */
  }
}
