<nav class="navbar navbar-expand-lg navbar-light px-5 shadow rounded py-3 mx-4 col-8 mx-auto">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand mx-2">Carnet Contact</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Contacts">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ContactGroup">Contact Group</a>
      </li>
    </ul>
  </div>
  <form class="form-inline m-2 my-lg-0">
    <a class="btn btn-outline-danger my-2 my-sm-0" routerLink="/">Log out</a>
  </form>
</nav>
